<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<meta charset="utf-8">
	<body>
		<div style='display:flex; justify-content:center;'>
			<div class="container" style='position:absolute; width: 500px; height: 800px; background-color:yellow'>
				<div class="col-6">
					<label><b>채팅방</b></label>
				</div>
				<div id="msgArea" class="col" style='max-height:754px;'>
				
				</div>
				<div style='position:absolute; bottom:0;display: flex; justify-content: space-between; width: 100%;'>
					<div style='width:100%;'>
						<div style='display:flex; justify-content:space-between;'>
							<input type="text" id="msg" class="form-control"
								aria-label="Recipient's userNm"
								aria-describedby="button-addon2">
							<div class="input-group-append">
								<button class="btn btn-outline-secondary" type="button"
									id="button-send">전송</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
<!-- JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/axios@0.17.1/dist/axios.min.js"></script>
<script src="../lib/jquery/jquery-3.4.1.min.js"></script>
<script>
   	const chatUrl = "192.168.0.8:7080";
    const userNm = localStorage.getItem('wschat.sender');
    const ChannelId = localStorage.getItem('wschat.ChannelId');
	const mainUrl = window.location.href.split('http://')[1];
	
    var requestDomain;
    if(mainUrl.indexOf('.com')>0||mainUrl.indexOf('.co.kr')){
    	requestDomain = mainUrl.split('/')[0]+'/'+mainUrl.split('/')[1];
    }else{
    	requestDomain = mainUrl.split('/')[0];
    }
    console.log(requestDomain);
    $(document).ready(function(){
        
        $("#disconn").on("click", (e) => {
            disconnect();
        })
        
        $("#button-send").on("click", (e) => {
            send();
        });
        
        const websocket = new WebSocket('ws://'+chatUrl+'/ws/chat');

        websocket.onmessage = onMessage;
        websocket.onopen = onOpen;
        websocket.onclose = onClose;

        function send(){
            let msg = document.getElementById("msg");
            let ChatMessage = new Object();
            ChatMessage.messageType = 'COMM';
            ChatMessage.ChannelId = ChannelId;
            ChatMessage.userCd = userNm;
            ChatMessage.userNm = userNm;
            ChatMessage.message = msg.value;
            ChatMessage.domain = requestDomain;

            let ChatMessageStr = JSON.stringify(ChatMessage)
            
            console.log(ChatMessageStr)
            
            websocket.send(ChatMessageStr);
            msg.value = '';
        }
        
        //채팅창에서 나갔을 때
        function onClose(evt) {
            var str = userNm + ": 님이 방을 나가셨습니다.";
            
            let ChatMessage = new Object();
            ChatMessage.messageType = 'EXIT';
            ChatMessage.ChannelId = ChannelId;
            ChatMessage.userCd = userNm;
            ChatMessage.userNm = userNm;
            ChatMessage.message = str;
            ChatMessage.domain = requestDomain;

            let ChatMessageStr = JSON.stringify(ChatMessage)
            
            websocket.send(ChatMessageStr);
        }
        
        //채팅창에 들어왔을 때
        function onOpen(evt) {
            var str = userNm + ": 님이 입장하셨습니다.";
            
            let ChatMessage = new Object();
            ChatMessage.messageType = 'ENTER';
            ChatMessage.ChannelId = ChannelId;
            ChatMessage.userCd = userNm;
            ChatMessage.userNm = userNm;
            ChatMessage.message = str;
            ChatMessage.domain = requestDomain;

            let ChatMessageStr = JSON.stringify(ChatMessage)
            
            websocket.send(ChatMessageStr);
        }
        
        function loadRoom(){
        	 var params = new URLSearchParams();
             //params.append("ChannelId", localStorage.getItem('wschat.ChannelId'));
             //let params = '&ChannelId='+localStorage.getItem('wschat.ChannelId')
             
             axios.get('http://'+chatUrl+'/chat/loadRoom?ChannelId='+localStorage.getItem('wschat.ChannelId'), params)
             .then(response => {
                 console.log(response)
            	 let chatArr = response.data.result.chatArr;
               	 console.log(chatArr.length)
                 for(var i=0; i<chatArr.length; i++){
                	 talkMaker(chatArr[i])
                 }
             })
             .catch(response => {
                 console.log(response)
             });
        }

        function onMessage(msg) {
            var data = JSON.parse(msg.data);
            //데이터를 보낸 사람
            var message = null;
            talkMaker(data)
        }
        
        function talkMaker(p_data){
        	console.log('talkMaker')
        	//현재 세션에 로그인 한 사람
        	var cur_session = userNm;
        	var sessionId = null;
            console.log("cur_session : " + userNm);
            console.log("sessionID : " + sessionId);

            //로그인 한 클라이언트와 타 클라이언트를 분류하기 위함
            if(sessionId == cur_session){
                var str = '';
                str += "<div class='col-6'>";
                str += 		"<div>";
                str += 		"<b>" + p_data.userCd + " : " + p_data.message + "</b>";
                str += "</div>";
                $("#msgArea").append(str);
            }
            else{
                var str = '';
                str += "<div class='col-6'>";
                str += 		"<div>";
                str += 		"<b>" + p_data.userCd + " : " + p_data.message + "</b>";
                str += "</div>";
                $("#msgArea").append(str);
            }
        }
        loadRoom();
    })
</script>
</html>